* {
  margin: 0;
  padding: 0;
}
.main {
  width: 100%;
  background: url(1.jfif);
  background-position: center;
  background-size: cover;
  height: 130vh;
}
.navbar {
  width: 1200px;
  height: 75px;
  margin: auto;
}
.icon {
  width: 200px;
  float: left;
  height: 70px;
}
.logo {
  color: DarkKhaki;

  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;

  padding-top: 10px;
}
.menu {
  width: 400px;
  height: 70px;
  float: left;
}
ul {
  float: left;
  display: flex;
  white-space: nowrap;
}
ul li {
  list-style: none;
  margin-left: 55px;
  margin-top: 25px;
  font-size: 15px;
}
ul li a {
  text-decoration: none;
  color: DarkGrey;
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}
ul li a:hover {
  color: DarkKhaki;
}
.search {
  width: 330px;
  float: left;
  margin-left: 270px;
  margin-top: 15px;
}
.src {
  font-family: sans-serf;
  width: 300 px;
  height: 40px;
  background: transparent;
  border: 1px solid DarkKhaki;

  color: white;
  border-right: none;
  font-size: 17px;
  float: left;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.btn {
  width: 100px;
  height: 40px;

  border: 1px solid DarkKhaki;
  background: DarkKhaki;
  font-family: sans-serf;
  color: black;
  font-size: 17px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.btn:focus {
  outline: none;
}
.src:focus {
  outline: none;
}
.form {
  width: 250 px;
  height: 380px;
  background: linear-gradient(to top, black 50%, black 50%);

  top: -20px;
  left: 870px;
  border-radius: 10px;
  padding: 25px;
}
form h2 {
  width: 220px;
  font-family: sans-serf;
  text-align: center;
  color: IndianRed;
  background-color: white;
  border-radius: 10px;
  margin: 2px;
  padding: 8px;
}
p {
  color: white;
}
.form input {
  width: 240 px;
  height: 35px;
  background: transparent;
  border-bottom: 1px solid #f0f0f0;
  border-top: none;
  border-right: none;
  border-left: none;
  color: white;
  font-size: 15px;
  margin-top: 30px;
  font-family: sans serf;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}

.clear {
  clear: both;
}

.main {
  width: 100%;
  height: 100vh;
  background-color: #999;
}

.card {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-title {
  width: 100%;
}

.card-title h3 {
  color: IndianRed;
  text-align: center;
  padding: 20px 0;
  font-weight: 500;
}

.card-title h3 > span {
  color: #848484;
}

.card-body {
  background-color: black;
  opacity: 0.6;
  padding: 10px 0px;
  border-radius: 5px;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.card-body-top {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #262626;
}

.card-body-top > .btn {
  border: 0;
  background-color: transparent;
  color: #848484;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 500;
  width: 180px;
  padding: 20px 0;
}

#login {
  color: IndianRed;
}

#register {
  color: #848484;
}
/*.active_btn{
	color: #00ffc3!important;
}*/

#pointer-btn {
  position: absolute;
  bottom: -1px;
  left: 30px;
  width: 120px;
  height: 2px;
  background-color: IndianRed;
  transition: 0.5s all ease;
}

.card-body-login {
  width: 100%;
  padding: 15px 20px;
  position: relative;
}

.card-body-login > #login-form {
  position: absolute;
  top: 30px;
  left: 25px;
  text-align: center;
  transition: 0.5s all ease;
}

.card-body-login > #register-form {
  position: absolute;
  top: 20px;
  left: 450px;
  text-align: center;
  transition: 0.5s all ease;
}

.input-form {
  border: none;
  background-color: transparent;
  color: #fff;
  border-bottom: 1px solid IndianRed;
  width: 350px;
  padding: 15px 0px;
  font-size: 15px;
  letter-spacing: 1px;
  outline: none;
}

.submit-form {
  background-color: IndianRed;
  color: #000;
  border: none;
  padding: 10px 25px;
  font-size: 15px;
  cursor: pointer;
  letter-spacing: 1px;
  border-radius: 50px;
}
